
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container" style="margin-left:32.5%">
            <a class="navbar-brand" asp-area="" asp-page="/Index"><img alt="home.png" src="https://cdn-icons-png.flaticon.com/512/25/25694.png" width="20px" height="20px" style="padding-bottom:3px"> Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Connection/NewConnection">New Connection</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Connection/ViewConnection">View Connection</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Connection/DeleteConnection">Delete Connection</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Connection/newScript">Script Editor</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>               