@page
@model Esame.Pages.Connection.newScriptPostgresModel
@{
    ViewData["Title"] = "Query Script";
}


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea2" asp-for="prova.query" style="height: 150px; width: 1300px"></textarea>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Esegui" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
