@page
@model Esame.Pages.Connection.newScriptModel
@{
    ViewData["Title"] = "Editor Script";
}

<div style="margin-left:5%; margin-right:5%">
    <h1>Selezionare il DB</h1>
    <hr />
    <p> Inserire dropdown con lista db disponibili</p>

</div>



